## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\\Vacation_Search\\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,18,San Patricio,US,82.49,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,20,Diu,IN,82.27,overcast clouds,20.7141,70.9822,Hotel Relax Inn
2,29,Butaritari,KI,83.88,clear sky,3.0707,172.7902,Isles Sunset Lodge
3,30,Georgetown,MY,87.73,scattered clouds,5.4112,100.3354,Cititel Penang
4,40,Airai,TL,81.93,scattered clouds,-8.9266,125.4092,Juvinal Martin

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Weligama"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Weligama"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Matara"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Hambantota"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Beruwala"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].to_numpy()
end = vacation_end[['Lat', 'Lng']].to_numpy()
stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()
stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()
stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
srilanka_tour=gmaps.directions_layer(start[0],end[0],waypoints=[stop1[0],stop2[0],stop3[0]],travel_mode='DRIVING')
fig.add_layer(srilanka_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,181,Weligama,LK,81.30,overcast clouds,5.9667,80.4167,Weligama Bay Resort
1,333,Matara,LK,81.52,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
2,250,Hambantota,LK,82.74,broken clouds,6.1241,81.1185,Bungalow 63
3,577,Beruwala,LK,80.33,overcast clouds,6.4788,79.9828,The Palms Hotel

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(6.3425, 80.5597), zoom_level=9)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))